services:

  test:
    profiles:
      - test
    image: erasme/ai-proxy:latest
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: ai-proxy-test
    depends_on:
      - api
    volumes:
      - ./backend:/app
    environment:
      - PYTHONUNBUFFERED=1
      - API_URL=http://api:8000
      - API_TOKEN=autobot3000
    command: ["python", "tests.py"]

  api:
    profiles:
      - api
      - test
    image: erasme/ai-proxy:latest
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: ai-proxy-backend
    ports:
      - "8000:8000"
    environment:
      - PYTHONUNBUFFERED=1
    volumes:
      - ./data:/data
      - ./backend:/app
      - ./config.yaml:/config.yaml

  prometheus:
    profiles:
      - api
    image: prom/prometheus:latest
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/etc/prometheus/console_libraries'
      - '--web.console.templates=/etc/prometheus/consoles'


  # Grafana
  grafana:
    profiles:
      - api
    image: grafana/grafana:latest
    ports:
      - "4000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - grafana-storage:/var/lib/grafana
      - ./grafana/provisioning:/etc/grafana/provisioning

  openwebui:
    profiles:
      - api
    image: ghcr.io/open-webui/open-webui:main
    container_name: openwebui
    ports:
      - "3000:8080"
    volumes:
      - ./data/openwebui_data:/app/backend/data


volumes:
  grafana-storage: